.populares-main {
    
    margin-top: 40px;
    height: auto;
    
}

.movie-img {
    width: 100%;
    height: auto;
}

.casting {
    border-top: 2px solid white;
    margin-top: 0px;
}

.populares-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: white;
    border-bottom: 2px solid white;

}

.movie-name {
    display: flex;
    font-size: 0.8em;
    height: auto;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-transform: capitalize;
    line-height: 1.2em;
    margin-top: 10px;
    border-top: 2px solid white;
    padding-top: 5px;
}

.movie-box {
    width: 150px;
    height: auto;
    
}

.populares {
    width: auto;
    
}

.content-slide {
    
    width: auto;
    height: auto;
}