
.home-wrapper {

    font-family: 'Poppins', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;

}

.main-up {

    width: 100%;
    height: 90%;
    

}

.up-left {
   
    
}

.up-right {
    
}

.main-up p {
    margin: 0px;
}


.main-down {
    display: flex;
    width: 100%;
}

.search-input {

    width: 100%;
    background-color: transparent;
    outline: 0px;
    border: 0px;

}

.movie-box {

    width: 60%;
    height: 100%;
 
}

.movie-info {

    width: 100%;
    height: 100%;
    padding: 3em;
    border: 5px solid rgb(0, 255, 242);
    text-transform: capitalize;
}

.rent-box {

    width: 400px;
    height: auto;
    background-color: transparent;  
    padding: 2em;
    border-bottom: 2px solid rgb(0, 255, 242);

}

.abajo-box {

    width: 400px;
    height: 400px;
}



/*FORMATO DE LA INFO DE LA PELICULA*/

.mv-title {

    font-size: 3em;
    font-weight: 800;
    line-height: 1em;
    color:rgb(0, 255, 242);

}

.mv-overview {
    font-size: 0.8em;
    color: white;
    font-weight: 200;
    text-transform: initial;
}

.degradado {
    height: 100%;
    color: white;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: -1;
    background-image: linear-gradient(90deg, rgba(39, 39, 39,35),rgba(0, 0, 0,0));
    mix-blend-mode: multiply;

}

.video {

    width: 100%;
    height: auto;
    position: absolute;
    top: -200px;
    z-index: -2;
    filter: grayscale();
    mix-blend-mode: multiply;

}

.bt-buscar {
    color: white;
    font-size: 10px;
    width: 100px;
    height: 40px;
    border: 1px solid white;
    background-color: transparent;
    outline: none;
}

.mv-average {
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    color: rgb(79, 0, 110);
    font-weight: 800;
    margin: 0px;

}


.mv-release {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1.2em;
    font-weight: 800;
    letter-spacing: 2px;
    margin: 0px;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
    
    .bt-genre {
        font-family: 'Poppins', sans-serif;
        font-size: 0.9em;
        border: 2px solid white;
        padding-right: 5px;
        padding-left: 5px;
        margin: 0px;
        margin-left: 3px;
        margin-right: 3px;
        color: white;
    }
    

.bt-rent {  
    
    width: 100px;
    color: black;
    background-color: rgb(0, 255, 242);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    border: 0px;
    margin-top: 10px;
}

.search {
    color: white;
    margin-left: 30px;

}

.input-mat::placeholder.input-mat {
    color: white;
    width: 400px;
}

.mat-hint {
    color: white;
}

*, *::before, *::after {
    box-sizing: border-box;
    color: white;
}

.mat-form-field {
    font-size: inherit;
    font-weight: 400;
    line-height: 1.125;
    font-family: 'Poppins';
    letter-spacing: normal;
    color: white;
    background-color: transparent;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }