

<main class="footer-main d-flex justify-content-between h-100">

    <section class="ft-left d-flex h-100">


    </section>

    <section class="ft-middle d-flex h-100">


    </section>

    <section class="ft-right m-0 p-0 d-flex align-items-center h-100">

        <ul class="ft-buttons d-flex m-0 p-0">

            <li><a href="#"><img src="../../../assets/images/icons/windows-out.png" alt="windows"></a></li>
            <li><a href="#"><img src="../../../assets/images/icons/apple-out.png" alt="apple"></a></li>
            <li><a href="#"><img src="../../../assets/images/icons/android-out.png" alt="android"></a></li>
            <li><a href="#"><img src="../../../assets/images/icons/youtube-out.png" alt="youtube"></a></li>
            <li><a href="#"><img src="../../../assets/images/icons/linkeidn-out.png" alt="linux"></a></li>
            
        </ul>

    </section>


</main>