<p>Busqueda Usuario</p>
<!-- BUSCAR USUARIO POR ID USUARIO -->
<form action="">
    <input type="text" placeholder="ID usuario" [(ngModel)]="id" [ngModelOptions]="{standalone: true}">
    <button (click)="UserById(id)">Buscar</button>
</form>

<!-- BUSCAR USUARIO POR EMAIL USUARIO -->
<form action="">
    <input type="text" placeholder="ID pelicula" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
    <button (click)="UserByEmail(email)">Buscar</button>
</form>

<!-- BUSCAR USUARIO POR USERNAME USUARIO -->
<form action="">
    <input type="text" placeholder="ID pelicula" [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
    <button (click)="UserByUsername(username)">Buscar</button>
</form>

<p>Busqueda Pelicula</p>
<!-- BUSQUEDA PELICULA POR ID -->
<form action="">
    <input type="text" placeholder="ID pelicula" [(ngModel)]="id" [ngModelOptions]="{standalone: true}">
    <button (click)="MovieById(id)">Buscar</button>
</form>

<!-- BUSQUEDA PELICULA POR TITULO -->
<form action="">
    <input type="text" placeholder="titulo pelicula" [(ngModel)]="title" [ngModelOptions]="{standalone: true}">
    <button (click)="MoviesByTitle(title)">Buscar</button>
</form>

<h3>Busqueda Pedido</h3>
<!-- BUSQUEDA PEDIDO POR ID PEDIDO -->
<form action="">
    <input type="text" placeholder="ID pelicula" [(ngModel)]="id" [ngModelOptions]="{standalone: true}">
    <button (click)="OrderById(id)">Buscar</button>
</form>

<!-- RESULTADOS -->

<!-- USUARIOS -->
<div>
    <!-- <p> Id: {{ usuario.id }} </p> 
    <p> Nombre Usuarios: {{ usuario.username }} </p>
    <p> Nombre: {{ usuario.firstName }} {{ usuario.lastName }}</p>
    <p> Email: {{ usuario.email }} </p>
    <p> Dirección: {{ usuario.address }}, España </p>
    <p>{{ usuario.City.city }}</p> -->
</div>

<!-- PELICULA -->



<!-- PEDIDO -->


<!-- <div *ngFor="let actor of actors | slice:0:9">
    <div>
        <p>{{ actor.name }}</p>
        <img [src]= "getImage3(actor)" alt="" [routerLink]="'/details/' + actor.id"> 
    </div>
</div> -->
