
<nav class="nav-header d-flex container-fluid h-100 justify-content-between">

    <section class="logo-box d-flex">
        
        <img class="logo-header" src="../../../assets/images/movit-logo-white.png" alt="movit-logo">

    </section>

    <ul class="bt-header-list">
        <li><a routerLink="home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="movies" routerLinkActive="active">Movies</a></li>
        <li><a routerLink="home" routerLinkActive="active">About Us</a></li>
    </ul>

    <!-- SIN LOGEAR -->
    <div class="guestZone d-flex align-items-center justify-content-end h-100 w-25" *ngIf="!usersService.getUser()">
        <a class="bt-rent" [routerLink]="['/register']" routerLinkActive="active">REGISTER</a>
        <a class="bt-rent" [routerLink]="['/login']" routerLinkActive="active">LOGIN</a>
    </div>

    <!-- LOGEADO -->
    <div class="userZone login-header" *ngIf="usersService.getUser() as user">
        <a class="bt-rent" (click)="logout()">LOGOUT</a>
        <a [routerLink]="['/profile']" class="material-icons search-icon" routerLinkActive="active"><!--{{user.username}}--><span>person</span></a>
        <div *ngIf="usersService.getUser().role == 'admin'">
            <a [routerLink]="['/admin']" class="material-icons search-icon" routerLinkActive="active"><!--{{user.username}}--><span>person</span></a>
        </div>
    </div>
    
</nav>