
<nav class="nav-header d-flex container-fluid h-100 justify-content-between">

    <section class="logo-box d-flex">
        
        <img class="logo-header" src="../../../assets/images/movit-logo-white.png" alt="movit-logo">

    </section>

    <ul class="bt-header-list">
        <li><a routerLink="home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="movies" routerLinkActive="active">Movies</a></li>
        <li><a routerLink="home" routerLinkActive="active">About Us</a></li>
    </ul>

    <!-- SIN LOGEAR -->
    <div class="guestZone" *ngIf="!usersService.getUser()">
        <a [routerLink]="['/register']" routerLinkActive="active">Register</a>
        <a [routerLink]="['/login']" routerLinkActive="active">Login</a>
    </div>

    <!-- LOGEADO -->
    <div class="userZone login-header" *ngIf="usersService.getUser() as user">
        <a>Logout</a>
        <a [routerLink]="['/profile/:id']" class="bt-login material-icons search-icon" routerLinkActive="active">{{user.email}}</a>
      </div>
    

</nav>