
<nav class="nav-header d-flex container-fluid h-100 justify-content-between">

    <section class="logo-box d-flex">
        
        <img class="logo-header" src="../../../assets/images/movit-logo-white.png" alt="movit-logo">

    </section>

    <ul class="bt-header-list">
        <li><a routerLink="home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="home" routerLinkActive="active">Movies</a></li>
        <li><a routerLink="home" routerLinkActive="active">About Us</a></li>
    </ul>

    <section class="login-header">
        <button class="bt-login">Register</button>
        <a class="material-icons search-icon" href=""><img src="" alt="">person</a>
    </section>

</nav>