
.bt-header-list {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: 100%;
    list-style-type: none;
   
}   

.bt-rent {  
    
    width: 200px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    background-color: transparent;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    border: 3px solid white;
    margin-left: 10px;
    transition: 0.1s cubic-bezier(.66,-0.21,.31,1.36);
}

.bt-rent:hover {  
    
    width: 300px;
    color: rgb(5, 255, 242) ;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    background-color: transparent;
    padding: 5px;
    padding-left: 10px;
    padding-right: 60px;
    outline: none;
    border: 3px solid rgb(5, 255, 242);
    margin-left: 10px;
    transition: 0.1s cubic-bezier(.66,-0.21,.31,1.36);
}

a {

    text-decoration: none;
}

.bt-header-list a {

    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding-right: 20px;
    cursor: pointer;
    font-size: 0.9em;
    letter-spacing: 1px;
    transition: 0.1s cubic-bezier(.66,-0.21,.31,1.36);
    
}

.bt-header-list a:hover {
    
    color: rgb(0, 204, 211);
    font-weight: 800;
    font-size: 1.6em;
    transition: 0.1s cubic-bezier(.66,-0.21,.31,1.36);

}

.logo-header {

    margin-left: 20px;
    width: auto;
    height: 60%;

}

.logo-box {

    width: 200px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.login-header {
    display: flex;
    width: 30%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    
}

.bt-login {
    width: 60%;
    height: 60%;
    border: 2px solid white;
    font-size: 13px;
    font-family: 'Poppins';
    letter-spacing: 1px;
    color: white;
    background-color: transparent;
}

.search-icon {
    color: white;
    font-size: 45px;
    padding-left: 20px;

}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

 