<h3>Crear Pelicula</h3>
<form #movieForm="ngForm" (submit)="MovieCreate(movieForm)">
    <input type="text" name="id" #id="ngModel" id="id" placeholder="id" ngModel>
    <input type="text" name="popularity" #popularity="ngModel" id="popularity" placeholder="popularity" ngModel>
    <input type="text" name="vote_count" #vote_count="ngModel" id="vote_count" placeholder="vote_count" ngModel>
    <input type="text" name="poster_path" #poster_path="ngModel" id="poster_path" placeholder="poster_path" ngModel>
    <input type="text" name="backdrop_path" #backdrop_path="ngModel" id="backdrop_path" placeholder="backdrop_path" ngModel>
    <input type="text" name="original_language" #original_language="ngModel" id="original_language" placeholder="original_language" ngModel>
    <input type="text" name="original_title" #original_title="ngModel" id="original_title" placeholder="original_title" ngModel>
    <input type="text" name="title" #title="ngModel" id="title" placeholder="title" ngModel>
    <input type="text" name="vote_average" #vote_average="ngModel" id="vote_average" placeholder="vote_average" ngModel>
    <textarea type="text" name="overview" #overview="ngModel" id="overview" placeholder="overview" ngModel></textarea>
    <input type="text" name="release_date" #release_date="ngModel" id="release_date" placeholder="release_date" ngModel>
    <input type="text" name="GenreId" #GenreId="ngModel" id="GenreId" placeholder="GenreId" ngModel>
    <button type="submit">Crear pelicula</button>
     Mensajes 
    <div class="succesmessage" *ngIf="successMsg">
        {{successMsg}} 
      </div>
      <div class="errormessage">
        {{errorMsg}}
      </div>
</form>