.header-table {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    height: 10%;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    position: sticky;
    z-index: 2;
    top: 0px;
    margin-bottom: 10px;
}

.titulo-table {
    width: 50%;
    padding-right: 10px;
    padding-left: 10px;
}

.id-table {
    width: 10%;
    padding-right: 10px;
    padding-left: 10px;
}

.pop-table {
    width: 10%;
    padding-right: 10px;
    padding-left: 10px;

}

.vote-table {
    width: 10%;
    padding-right: 10px;
    padding-left: 10px;
}

.rate-table {
    width: 5%;
    padding-right: 10px;
    padding-left: 10px;
}

.strong {
    font-weight: 800;
}

th {
    display: flex;
    align-self: flex-end;

}


.admin-info {

    height: 90%;
    overflow-x: hidden;
    overflow-y: scroll;
}