<main class="main-profile container-fluid m-0 p-0 h-100">

    <section class="header-profile d-flex w-100 m-0 p-0">

        <h3 class="header-title d-flex justify-content-start align-items-center pl-5 m-0">Administrador.</h3>

    </section>

    <section class="body-profile d-flex w-100 m-0 p-0">

        <nav class="sidebar d-flex flex-column align-items-end justify-content-center w-25 h-100 m-0 p-3">

            <ul class="bt-sidebar-list d-flex d-flex flex-column justify-content-center align-items-end">

                <li><a class="bt-sidebar" href="#">Usuarios</a></li>
                <li><a class="bt-sidebar" href="#">Pedidos</a></li>
                <li><a class="bt-sidebar" href="#">Peliculas</a></li>
                <li><a href="" class="bt-sidebar">Añadir Película</a></li>
                <li><a href="" class="bt-sidebar">Borrar Película</a></li>
                <li><a href="" class="bt-sidebar">Usuario por ID/email</a></li>
                <li><a href="" class="bt-sidebar">Pedido por ID/fecha</a></li>
                <li><a href="" class="bt-sidebar">Total de ventas diarias</a></li>
                <li><a href="" class="bt-sidebar">Ventas histórico</a></li>
            </ul>
    
        </nav>
    
        <section class="info-main d-flex w-75 h-100 m-0 p-0">

                <app-movies-all class="container-fluid m-0 p-0"></app-movies-all>

        </section>

    </section>


</main>





<h2>PERFIL ADMINISTRADOR</h2>
<!-- 
<p>1. Listado todos los usuarios</p>
<p>2. Listado todos los pedidos</p>
<p>3. Listado todas las peliculas</p>
<p>4. Añadir pelicula</p>
<p>5. Modificar pelicula</p>
<p>6. Eliminar pelicula</p>
<p>7. Buscador usuario por id y por email (x username?)</p>
<p>8. Buscador pedido por id y por fecha</p>
<p>9. Ver total diario ventas</p>
<p>10. Ver total historico ventas</p> -->



<!-- 1. ALL LOS USUARIOS xd-->
<!-- <app-users-all></app-users-all> -->

<!-- 2. ALL LOS PEDIDOS xd-->
<!-- <app-orders-all></app-orders-all> -->

<!-- 3. TODAS LAS PELICULAS xd-->
<!-- <app-movies-all></app-movies-all> -->

<!-- 4. CREAR PELICULA xd-->
<!-- <app-create-movie></app-create-movie> -->

<!-- 5. MODIFICAR PELICULA -->
<!-- <h3>Modificar Pelicula</h3> 
<form #movieModifyForm="ngForm" (submit)="MovieModify(movieModifyForm)">
    <input type="text" name="popularity" #popularity="ngModel" id="popularity" placeholder="popularity" ngModel>
    <input type="text" name="vote_count" #vote_count="ngModel" id="vote_count" placeholder="vote_count" ngModel>
    <input type="text" name="poster_path" #poster_path="ngModel" id="poster_path" placeholder="poster_path" ngModel>
    <input type="text" name="backdrop_path" #backdrop_path="ngModel" id="backdrop_path" placeholder="backdrop_path" ngModel>
    <input type="text" name="original_language" #original_language="ngModel" id="original_language" placeholder="original_language" ngModel>
    <input type="text" name="original_title" #original_title="ngModel" id="original_title" placeholder="original_title" ngModel>
    <input type="text" name="title" #title="ngModel" id="title" placeholder="title" ngModel>
    <input type="text" name="vote_average" #vote_average="ngModel" id="vote_average" placeholder="vote_average" ngModel>
    <input type="text" name="overview" #overview="ngModel" id="overview" placeholder="overview" ngModel>
    <input type="text" name="release_date" #release_date="ngModel" id="release_date" placeholder="release_date" ngModel>
    <input type="text" name="GenreId" #GenreId="ngModel" id="GenreId" placeholder="GenreId" ngModel>
    <button type="submit">Crear pelicula</button>
</form>  -->

<!-- 6. ELIMINAR PELICULA -->
<!-- <form action="">
    <button>Eliminar Pelicula</button>
</form> -->

<!-- 7. BUSQUEDA USUARIO -->
<!-- BUSCAR USUARIO POR ID USUARIO -->
<!-- <form action="">
    <input type="number" placeholder="Id Usuario">
    <button>Buscar Usuario</button>
</form> -->

<!-- BUSCAR USUARIO POR EMAIL USUARIO -->
<!-- <form action="">
    <input type="email" placeholder="Email Usuario">
    <button>Buscar Usuario</button>
</form> -->

<!-- BUSCAR USUARIO POR USERNAME USUARIO -->
<!-- <form action="">
    <input type="text" placeholder="Username Usuario">
    <button>Buscar Usuario</button>
</form> -->

<!-- 8. BUSQUEDA PELICULA -->
<!-- BUSCAR USUARIO POR ID PEDIDO -->
<!-- <form action="">
    <input type="number" placeholder="Id Pedido">
    <button>Buscar Pedido</button>
</form> -->


<!-- BUSCAR USUARIO POR FECHA PEDIDO -->
<!-- <form action="">
    <input type="text" placeholder="Fecha Pedido">
    <button>Buscar Pedido</button>
</form> -->

<!-- 9. TOTAL VENTAS DIARIAS -->


<!-- 10. TOTAL VENTAS HISTORICO -->