.main-profile {
    background-color: white;

}

.header-profile {

    height: 15%;
    
}

.header-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 2em;

}

.body-profile {
    height: 85%;
  
}

.sidebar {

    border-right: 2px solid black;

}

.info-main {

  
}


a {
    text-decoration: none;
}

.bt-sidebar-list {

    
    width: 100%;
    height: 100%;
    list-style-type: none;
    line-height: 3em;

}   

.bt-sidebar-list a {

    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding-right: 20px;
    cursor: pointer;
    font-size: 0.9em;
    letter-spacing: 1px;
    transition: 0.1s cubic-bezier(.66,-0.21,.31,1.36);  
    
}

.bt-sidebar-list a:hover {
    
    color: rgb(0, 204, 211);
    font-weight: 800;
    font-size: 1.2em;
    transition: 0.1s cubic-bezier(.66,-0.21,.31,1.36);

}