<h2>PERFIL ADMINISTRADOR</h2>
<!-- 
<p>1. Listado todos los usuarios</p>
<p>2. Listado todos los pedidos</p>
<p>3. Listado todas las peliculas</p>
<p>4. Añadir pelicula</p>
<p>5. Modificar pelicula</p>
<p>6. Eliminar pelicula</p>
<p>7. Buscador usuario por id y por email (x username?)</p>
<p>8. Buscador pedido por id y por fecha</p>
<p>9. Ver total diario ventas</p>
<p>10. Ver total historico ventas</p> -->



<!-- 1. ALL LOS USUARIOS -->
<!-- <app-users-all></app-users-all> -->

<!-- 2. ALL LOS PEDIDOS -->
<!-- <app-orders-all></app-orders-all> -->

<!-- 3. TODAS LAS PELICULAS -->
<!-- <h3>TODAS LAS PELICULAS</h3>
<div>
    <div *ngFor="let movie of movies">
        <p>{{ movie.title }} ({{ movie.id }})</p>  
        <p>Popularity: {{ movie.popularity }} </p>
        <p>Vote Count: {{ movie.vote_count }} </p>
        <p>Original Language: {{ movie.original_language }} </p>
        <p>Original Title: {{ movie.original_title }}</p>
        <p>Vote Average: {{ movie.vote_average }} </p>
        <p>Overview: {{ movie.overview | slice:0:50}}... </p>
        <p>Release Date: {{ movie.release_date }} </p>
        <p>Generos</p>
        <div *ngFor="let genre of movie.Genres"> 
            <p>{{ genre.name }} ({{ genre.id }}) </p>
        </div>
        <p>Actores</p>
        <div *ngFor="let actor of movie.Actors"> 
            <p>{{ actor.name }} ({{ actor.id }}) </p>
        </div>
        <p>------------------</p>
    </div>
</div>    -->

<!-- 4. CREAR PELICULA -->
<!-- <h3>Crear Pelicula</h3>
<form #movieForm="ngForm" (submit)="MovieCreate(movieForm)">
    <input type="text" name="id" #id="ngModel" id="id" placeholder="id" ngModel>
    <input type="text" name="popularity" #popularity="ngModel" id="popularity" placeholder="popularity" ngModel>
    <input type="text" name="vote_count" #vote_count="ngModel" id="vote_count" placeholder="vote_count" ngModel>
    <input type="text" name="poster_path" #poster_path="ngModel" id="poster_path" placeholder="poster_path" ngModel>
    <input type="text" name="backdrop_path" #backdrop_path="ngModel" id="backdrop_path" placeholder="backdrop_path" ngModel>
    <input type="text" name="original_language" #original_language="ngModel" id="original_language" placeholder="original_language" ngModel>
    <input type="text" name="original_title" #original_title="ngModel" id="original_title" placeholder="original_title" ngModel>
    <input type="text" name="title" #title="ngModel" id="title" placeholder="title" ngModel>
    <input type="text" name="vote_average" #vote_average="ngModel" id="vote_average" placeholder="vote_average" ngModel>
    <input type="text" name="overview" #overview="ngModel" id="overview" placeholder="overview" ngModel>
    <input type="text" name="release_date" #release_date="ngModel" id="release_date" placeholder="release_date" ngModel>
    <input type="text" name="GenreId" #GenreId="ngModel" id="GenreId" placeholder="GenreId" ngModel>
    <button type="submit">Crear pelicula</button>
     Mensajes 
    <div class="succesmessage" *ngIf="successMsg">
        {{successMsg}} 
      </div>
      <div class="errormessage">
        {{errorMsg}}
      </div>
</form> -->

<!-- 5. MODIFICAR PELICULA -->
<!-- <h3>Modificar Pelicula</h3> 
<form #movieModifyForm="ngForm" (submit)="MovieModify(movieModifyForm)">
    <input type="text" name="popularity" #popularity="ngModel" id="popularity" placeholder="popularity" ngModel>
    <input type="text" name="vote_count" #vote_count="ngModel" id="vote_count" placeholder="vote_count" ngModel>
    <input type="text" name="poster_path" #poster_path="ngModel" id="poster_path" placeholder="poster_path" ngModel>
    <input type="text" name="backdrop_path" #backdrop_path="ngModel" id="backdrop_path" placeholder="backdrop_path" ngModel>
    <input type="text" name="original_language" #original_language="ngModel" id="original_language" placeholder="original_language" ngModel>
    <input type="text" name="original_title" #original_title="ngModel" id="original_title" placeholder="original_title" ngModel>
    <input type="text" name="title" #title="ngModel" id="title" placeholder="title" ngModel>
    <input type="text" name="vote_average" #vote_average="ngModel" id="vote_average" placeholder="vote_average" ngModel>
    <input type="text" name="overview" #overview="ngModel" id="overview" placeholder="overview" ngModel>
    <input type="text" name="release_date" #release_date="ngModel" id="release_date" placeholder="release_date" ngModel>
    <input type="text" name="GenreId" #GenreId="ngModel" id="GenreId" placeholder="GenreId" ngModel>
    <button type="submit">Crear pelicula</button>
</form>  -->

<!-- 6. ELIMINAR PELICULA -->
<!-- <form action="">
    <button>Eliminar Pelicula</button>
</form> -->

<!-- 7. BUSQUEDA USUARIO -->
<!-- BUSCAR USUARIO POR ID USUARIO -->
<!-- <form action="">
    <input type="number" placeholder="Id Usuario">
    <button>Buscar Usuario</button>
</form> -->

<!-- BUSCAR USUARIO POR EMAIL USUARIO -->
<!-- <form action="">
    <input type="email" placeholder="Email Usuario">
    <button>Buscar Usuario</button>
</form> -->

<!-- BUSCAR USUARIO POR USERNAME USUARIO -->
<!-- <form action="">
    <input type="text" placeholder="Username Usuario">
    <button>Buscar Usuario</button>
</form> -->

<!-- 8. BUSQUEDA PELICULA -->
<!-- BUSCAR USUARIO POR ID PEDIDO -->
<!-- <form action="">
    <input type="number" placeholder="Id Pedido">
    <button>Buscar Pedido</button>
</form> -->


<!-- BUSCAR USUARIO POR FECHA PEDIDO -->
<!-- <form action="">
    <input type="text" placeholder="Fecha Pedido">
    <button>Buscar Pedido</button>
</form> -->

<!-- 9. TOTAL VENTAS DIARIAS -->


<!-- 10. TOTAL VENTAS HISTORICO -->