<main class="main-profile container-fluid m-0 p-0 h-100">

    <section class="header-profile d-flex w-100 m-0 p-0">

        <h3 class="header-title d-flex justify-content-start align-items-center pl-5 m-0">Administrador.</h3>

    </section>

    <section class="body-profile d-flex w-100 m-0 p-0">

        <nav class="sidebar d-flex flex-column align-items-end justify-content-center w-25 h-100 m-0 p-3">

            <ul class="bt-sidebar-list d-flex d-flex flex-column justify-content-center align-items-end">

                <li><a class="bt-sidebar" routerLink="profile/data" routerLinkActive="active">Mis datos</a></li>
                <li><a class="bt-sidebar" routerLink="profile/order" routerLinkActive="active">Mis pedidos</a></li>
                <li><a class="bt-sidebar"routerLink="profile/update" routerLinkActive="active">Modificar mis datos</a></li>
            </ul>
    
        </nav>
    
        <section id="infoMain" class="info-main d-flex w-75 h-100 m-0 p-0">

            

        </section>

    </section>
<h3>Datos del Usuario</h3>
<div class="profile row" *ngIf="usersService.getUser() as user">
    <div class="">
        <div >
            <!-- <img src="{{users.imageURL}}" alt=""> -->
        </div> 
        <div class="datos">
            <p> Id: {{ user.id }} </p> 
            <p> Nombre Usuario: {{ user.username }} </p>
            <p> Nombre: {{ user.firstName }} </p>
            <p> Apellidos {{ user.lastName }} </p>
            <p> Email: {{ user.email }} </p>
            <p> Dirección: {{ user.address }}, España </p>
            <!-- <p> Ciudad:  {{ user.City.city }} </p> -->
        </div>
    </div>
</div>

