<main class="main-profile container-fluid m-0 p-0 h-100">

    <section class="header-profile d-flex w-100 m-0 p-0">

        <h3 class="header-title d-flex justify-content-start align-items-center pl-5 m-0">Perfil de Usuario.</h3>

    </section>

    <section class="body-profile d-flex w-100 m-0 p-0">

        <nav class="sidebar d-flex flex-column align-items-end justify-content-center w-25 h-100 m-0 p-3">

            <ul class="bt-sidebar-list d-flex d-flex flex-column justify-content-center align-items-end">

                <li><a class="bt-sidebar" routerLink="/profile/data" routerLinkActive="active">Mis datos</a></li>
                <li><a class="bt-sidebar" routerLink="/profile/order" routerLinkActive="active">Mis pedidos</a></li>
                <li><a class="bt-sidebar"routerLink="/profile/update" routerLinkActive="active">Modificar mis datos</a></li>
            </ul>
    
        </nav>
    
        <section id="infoMain" class="info-main d-flex w-75 h-100 m-0 p-0">
     
                <section class="admin-info container">
                    
                    <div class="profile-info d-flex justify-content-start align-items-center w-100 h-100" *ngIf="usersService.getUser() as user">

                            <div class="labels d-flex flex-column align-items-end">

                                <div class="row">
                                    <div class="col"> ID</div>
                                </div>
                                <div class="row">
                                    <div class="col"> USERNAME </div>
                                </div>
                                <div class="row">
                                    <div class="col"> NOMBRE</div>
                                </div>
                            
                                <div class="row">
                                    <div class="col"> EMAIL</div>
                                </div>
                                <div class="row">
                                    <div class="col"> ADRESS </div>
                                </div>

                            </div>
                        
                            <div class="datos d-flex flex-column align-items-start">

                                <div class="row">
                                    <div class="col"> {{ user.id }}1</div>
                                </div>
                                <div class="row">
                                    <div class="col super-font"> {{ user.username }} </div>
                                </div>
                                <div class="row">
                                    <div class="col mid-font"> {{ user.firstName }} {{ user.lastName }} </div>
                                </div>
                            
                                <div class="row">
                                    <div class="col"> {{ user.email }} </div>
                                </div>
                                <div class="row">
                                    <div class="col"> {{ user.address }}, España  </div>
                                </div>

                            </div>

                      
                       
                    </div>
              
                </section>
            
        </section>

    </section>

</main>

