
          
  

<main class="main-register container-fluid d-flex h-100 w-100 m-0 p-0 align-items-center">
  
  <section class="register-left d-flex w-50 h-100 justify-content-center align-items-center">

    <form [formGroup]="formGroup" (ngSubmit)="register()" class="form-register container-fluid justify-content-center align-items-center d-flex h-100 v-100 m-0 p-0" action="">

        <div class="datos-cont d-flex flex-column justify-content-start align-items-center">
          
          <div class="datos-header d-flex justify-content-start align-items-start w-100 p-1">
            
            <h3 class="header-register">Registrate aquí.</h3>
    
          </div>
    
          <div class="datos-field d-flex flex-column w-100">
    
            <!-- Nombre -->
            <mat-form-field hintLabel="Max 15 caracteres" appearance="legacy">
              <input matInput #email placeholder="Email" formControlName="email" minlength="5" maxlength="25">
              <mat-error *ngIf="!formGroup.controls['email'].valid && formGroup.controls['email'].touched">
                {{ getErrorEmail() }}
              </mat-error>
              <mat-hint align="end">{{email.value?.length || 0}}/25</mat-hint>
            </mat-form-field>
  
            <!-- Email -->
            <mat-form-field hintLabel="Max 30 caracteres" appearance="legacy">
              <input matInput #username placeholder="Nombre de Usuario" formControlName="username" minlength="5" maxlength="30">
              <mat-hint align="end">{{username.value?.length || 0}}/30</mat-hint>
              <mat-error *ngIf="!username.valid && username.touched">
                {{ titleAlert }}
              </mat-error>
            </mat-form-field>
            
            <!-- <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
                  <input nz-input formControlName="email" id="email" />
              </nz-form-control> -->

            <!-- Password -->
            <mat-form-field hintLabel="Max 30 caracteres" appearance="legacy">
              <input matInput #password placeholder="Contraseña" formControlName="password" minlength="5" maxlength="30">
              <mat-hint align="end">{{password.value?.length || 0}}/30</mat-hint>
              <!-- <mat-hint>Debe contener al menos una mayuscula, una minuscula y un número</mat-hint> -->
              <mat-error *ngIf="!formGroup.controls['password'].valid && formGroup.controls['password'].touched">
                {{ getErrorPassword() }}
              </mat-error>
            </mat-form-field>
     
            <!-- boton Enviar -->
            <button class="boton-enviar" type="submit" mat-raised-button>REGISTRARSE</button>
            <!-- <button type="submit" class="btn btn-success btn-block btn-rounded z-depth-1">Registrarse</button> -->
    
          </div>
              
        </div>
        
        
    </form>
    
  </section>
  
  <section class="register-right d-flex flex-column justify-content-center w-50 h-100 m-0 p-2">

      <p class="big-text m-0">Preparad</p>
      <p class="big-text m-0">palomitas.</p>
      <p class="small-text m-0">Películas llegando en muy poco tiempo.</p>

  </section>

  <div class="foto-fondo">

  
  </div>
  
</main>


   