.main-profile {
    background-color: white;

}

.header-profile {

    height: 15%;
    
}

.header-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 2em;

}

.body-profile {
    height: 85%;
  
}

.sidebar {

    border-right: 2px solid black;

}


a {
    text-decoration: none;
}

.bt-sidebar-list {

    
    width: 100%;
    height: 100%;
    list-style-type: none;
    line-height: 3em;

}   

.bt-sidebar-list a {

    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding-right: 20px;
    cursor: pointer;
    font-size: 0.9em;
    letter-spacing: 1px;
    transition: 0.1s cubic-bezier(.66,-0.21,.31,1.36);  
    
}

.bt-sidebar-list a:hover {
    
    color: rgb(0, 204, 211);
    font-weight: 800;
    font-size: 1.2em;
    transition: 0.1s cubic-bezier(.66,-0.21,.31,1.36);

}

.main-profile {
    background-color: white;

}

.header-profile {

    height: 15%;
    
}

.header-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 2em;

}

.body-profile {
    height: 85%;
  
}

.sidebar {

    border-right: 2px solid black;

}


a {
    text-decoration: none;
}

.bt-sidebar-list {

    
    width: 100%;
    height: 100%;
    list-style-type: none;
    line-height: 3em;

}   

.bt-sidebar-list a {

    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding-right: 20px;
    cursor: pointer;
    font-size: 0.9em;
    letter-spacing: 1px;
    transition: 0.1s cubic-bezier(.66,-0.21,.31,1.36);  
    
}

.bt-sidebar-list a:hover {
    
    color: rgb(0, 204, 211);
    font-weight: 800;
    font-size: 1.2em;
    transition: 0.1s cubic-bezier(.66,-0.21,.31,1.36);

}

.header-table {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    height: 15%;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    position: sticky;
    z-index: 2;
    top: 0px;
    margin-bottom: 10px;
}

.id-table {
    width: 5%;
    padding-right: 10px;
    padding-left: 10px;
}

.movie-table {
    width: 40%;
    padding-right: 10px;
    padding-left: 10px;
}
.daterent-table {
    width: 8%;
    padding-right: 10px;
    padding-left: 10px;
}


.datearrival-table {
    width: 10%;
    padding-right: 10px;
    padding-left: 10px;

}

.daysrent-table {
    width: 5%;
    padding-right: 10px;
    padding-left: 10px;
}

.status-table {
    width: 10%;
    padding-right: 10px;
    padding-left: 10px;
}


.price-table {
    width: 8%;
    padding-right: 10px;
    padding-left: 10px;
    text-align: right;
}

.strong {
    font-weight: 800;
}

th {
    display: flex;
    align-self: flex-end;

}


.admin-info {

    height: 90%;
    overflow-x: hidden;
    overflow-y: scroll;
}