<main class="main-profile container-fluid m-0 p-0 h-100">

    <section class="header-profile d-flex w-100 m-0 p-0">

        <h3 class="header-title d-flex justify-content-start align-items-center pl-5 m-0">Administrador.</h3>

    </section>

    <section class="body-profile d-flex w-100 m-0 p-0">

        <nav class="sidebar d-flex flex-column align-items-end justify-content-center w-25 h-100 m-0 p-3">

            <ul class="bt-sidebar-list d-flex d-flex flex-column justify-content-center align-items-end">

                <li><a class="bt-sidebar" routerLink="/admin/users" routerLinkActive="active">Usuarios</a></li>
                <li><a class="bt-sidebar" routerLink="/admin/orders" routerLinkActive="active">Pedidos</a></li>
                <li><a class="bt-sidebar" routerLink="/admin/movies" routerLinkActive="active">Peliculas</a></li>
                <li><a class="bt-sidebar" routerLink="/admin/movieAdd" routerLinkActive="active">Añadir Película</a></li>
                <li><a class="bt-sidebar" routerLink="/admin/movieUpdate" routerLinkActive="active">Modificar Película</a></li>
                <li><a class="bt-sidebar" routerLink="/admin/" routerLinkActive="active">Borrar Película</a></li>
                <li><a class="bt-sidebar" routerLink="/admin/" routerLinkActive="active">Usuario por ID/email</a></li>
                <li><a class="bt-sidebar" routerLink="/admin/" routerLinkActive="active">Pedido por ID/fecha</a></li>
                <li><a class="bt-sidebar" routerLink="/admin/" routerLinkActive="active">Total de ventas diarias</a></li>
                <li><a class="bt-sidebar" routerLink="/admin/" routerLinkActive="active">Ventas histórico</a></li>
               
            </ul>
    
        </nav>
    
        <section id="infoMain" class="info-main d-flex w-75 h-100 m-0 p-0">

            <div class="container h-100">
                        
                <section class="admin-info">
                    
                    <div class="header-table">
                        
                        <tr class="d-flex w-100 h-100 align-items-center justify-content-start m-0 p-0">
                            <th class="titulo-table">TITULO</th>
                            <th class="id-table">ID</th>
                            <th class="pop-table">POP.</th>
                            <th class="vote-table">VOTACIÓN</th>
                            <th class="rate-table">RATE</th>
            
                        </tr>
                    </div>
                    
                        <div *ngFor="let usuario of usuarios">
            
                        <tr class="row d-flex">
            
                            <td class="col d-flex">

                                <p>{{usuario.id}}</p>
            
                                <p> Id: {{ usuario.id }} </p> 
                                <p> Nombre Usuario: {{ usuario.username }} </p>
                                <p> Nombre: {{ usuario.firstName }} {{ usuario.lastName }}</p>
                                <p> Email: {{ usuario.email }} </p>
                                <p> Dirección: {{ usuario.address }} {{ usuario.City.city }}, España </p>
                                <div *ngFor="let order of usuario.Orders">
                                    <p> Nº pedido: {{ order.id }} </p>
                                    <p> Nº pelicula: {{ order.MovieId }} </p>
                                    <p>//////</p>
                                </div>
                                
                            </td>
                            
                        </tr>
                        
                   </div>     
           
        </section>
            
            </div> 


        </section>

    </section>


</main>


