<main class="main-details container-fluid h-100 m-0 p-0">

    <!-- CAJA-GENERAL PARA INFO DE PELICULAS -->
    <section class="movie-box d-flex m-0 p-0 w-100">

        <!-- CAJA CON DETALLES IZQUIERDA -->

        <section class="movie-left d-flex m-0 p-0 h-100 w-75">

            <div class="movie-img d-flex justify-content-center align-items-center m-0 p-0">
                
                <img class="img-box" [src]= "getImage(detalle)" alt="">

            </div>

            <article class="movie-info-box d-flex flex-column justify-content-center align-items-start h-100 m-0 p-3">
                
                <h3 class="mv-title info-base d-inline m-1"> <!--{{ detalle.title }}--> Titulo Pelicula</h3>
                <p class="mv-id info-base d-inline m-0 mb-3"> ID: <!--{{ detalle.id }}--> 3453364</p>

                <div class="rate-date d-flex w-100 justify-content-start m-0 p-0">

                    <p class="mv-votacion info-base d-flex align-self-center m-0 mr-2"> <!--Votacion: {{ detalle.vote_average }} -->7.0</p>
                    <p class="mv-date info-base d-flex align-self-center m-0 mr-2"> <!---{{ detalle.release_date | date:"dd/MM/yy" }}--->2020</p>
                    <!-- <p><strong>Generos</strong></p> -->

                    <div *ngFor="let genre of genres | slice:0:4"> 
                        <p> <!--{{ genre.name }}--> <button class="bt-genre">Estreno</button></p>
                    </div>
                    
                    <button class="bt-genre info-base">TERROR</button>
                    <button class="bt-genre info-base">ESTRENO</button>

                    </div>  
                    <p class="mv-sinopsis info-base" data-toggle="collapse"> <!--{{ detalle.overview }}--> Sinopsis
                        ipsum Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Repellendus, provident! Incidunt ut fuga voluptatem dolore 
                        reprehenderit deserunt ipsa omnis. Amet neque esse, 
                        officiis cum dolorem autem reprehenderit unde facilis odio!
                    </p>

                        <button nz-button nzType="primary">Primary</button>
                   <p>hola HDP</p>
                        
                <!-- BOTON ALQUILER GUEST -->
                <button class="bt-rent" (click)="rentMovieGuest()" *ngIf="!usersService.getUser()"> Alquilar </button> 
                <!-- BOTON ALQUILER LOGIN -->
                <button (click)="rentMovieLogin()" *ngIf="usersService.getUser()"> Alquilar </button> 
                
        
                <p>Dias de Alquiler: 5 dias: 7€</p>
                <p>  10 dias: 12€</p>

            </article>

            

        </section>

        <!-- CAJA DERECHA CON BOTONES PARA ALQUILAR -->
        <section class="movie-right d-flex w-25 h-100 m-0 p-0">
                
        
        
        </section>

    </section>



        <!-- ACTORES -->
        <div>
            <h3>Casting</h3>
            <div class="grid">
                <div *ngFor="let actor of actores | slice:0:8"> 
                    <h4> {{ actor.name }} </h4>
                    <p> {{ actor.character }} </p>
                    <img [src]= "getImage3(actor)" style="width: 30vh" alt="" [routerLink]="'/details/' + actor.id">
                </div>
            </div> 
        </div>
         
    
        <!-- PELICULAS POPULARES -->
        <div>
            <h3>Populares</h3>
            <div class="grid">
                <div *ngFor="let pelicula of populares | slice:0:4"> 
                    <p> {{ pelicula.title }} </p>
                    <img [src]= "getImage(pelicula)" style="width: 30vh" alt="" [routerLink]="'/details/' + pelicula.id">
                </div>
            </div>  
        </div>
    
    
        <!-- PELICULAS PREMIERE -->
        <div>
            <h3>Premiere</h3>
            <div class="grid">
                <div *ngFor="let popular of premieres | slice:0:4"> 
                    <p> {{ popular.title }} </p>
                    <img [src]= "getImage(popular)" style="width: 30vh" alt="" [routerLink]="'/detalles/' + popular.id">
                </div>
            </div>
        </div>
            

</main>
