

.main-details {
    
    overflow-y: scroll;
    overflow-x: hidden;

}

.movie-left {
    
    
}

.movie-right {

    border-left: 1px solid white;
   
}

.movie-details {

    height: 90%;
   
}

.img-content {

    width: 33%;
    

}

.img-box {
  
    width: auto;
    height: 90%;
}

.info-box {
    width: 50%;

   
}

.mv-title {
    font-size: 2em;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    text-transform: capitalize;
    margin: 0;
    
}

.mv-id {
    font-size: 0.7em;
    color: white;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
}

.mv-average {
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    color: rgb(79, 0, 110);
    font-weight: 800;
    margin: 0px;
}

.average-top {
    font-size: 0.9em;
    font-family: 'Poppins',sans-serif;
    color: white;
    margin: 0px;
}

.mv-overview {
    font-size: 0.9em;
    font-family: 'Poppins',sans-serif;
    color: white;
    font-weight: 300;
    letter-spacing: 1px;

}

.mv-release {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1.2em;
    font-weight: 800;
    letter-spacing: 2px;
    margin: 0px;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.bt-genre {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    border: 2px solid black;
    padding-right: 5px;
    padding-left: 5px;
    margin: 0px;
    margin-left: 3px;
    margin-right: 3px;
    color: black;
}

.rent-box {
    border-top: 4px solid black;
}

nz-select {

    width: 35%;
    margin-right: 10px;
    color: white;

}

.actor-box {
    width: 150px;
}

.actor-img {
    width: 100%;
    height: auto;
}

.casting {
    border-top: 2px solid black;
    margin-top: 20px;
}

.casting-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: black;

}

.actor-name {
    font-size: 0.8em;
    font-family: 'Poppins', sans-serif;
    color: black;
}