<main class="main-details container-fluid h-100 m-0 p-0">

    <section class="">

        <!-- <h3> {{ detalle.title }} </h3>
                <img class="img-box" [src]= "getImage(detalle)" alt="">
           
    
           
                <p> ID: {{ detalle.id }} </p>
                <p> Votacion: {{ detalle.vote_average }} </p>
                <p> {{ detalle.overview }} </p>
                <p> {{ detalle.release_date | date:"dd/MM/yy" }} </p>
                <div *ngIf="detalle.homepage">
                    <a href="{{ detalle.homepage}}" target="_blank">Web pelicula</a>
               
                <p><strong>Generos</strong></p>
                <div *ngFor="let genre of genres | slice:0:4"> 
                    <p> {{ genre.name }} </p>
                </div>   -->



        <!-- BOTON ALQUILER GUEST -->
        <button class="bt-rent" (click)="rentMovieGuest()" *ngIf="!usersService.getUser()"> Alquilar </button>
        <!-- BOTON ALQUILER LOGIN -->

        <form class="rentingDays" #orderForm="ngForm" (submit)="OrderCreate(orderForm)">
            <label for="daysRent"><h3>1.80 €/d</h3></label>
            <input id='daysRent' #date="ngModel" name="date" id="date" placeholder="nº dias" required [(ngModel)]='daysRent'>
            <button type="submit" *ngIf="usersService.getUser()"> Alquilar </button>
            <!-- Mensajes -->
            <div class="succesmessage" *ngIf="successMsg">
                {{successMsg}} 
              </div>
              <div class="errormessage">
                {{errorMsg}}
              </div>
        </form>

        
        <!--                   
            </div> -->






        <!-- ACTORES -->
        <!-- <div>
            <h3>Casting</h3>
            <div class="grid">
                <div *ngFor="let actor of actores | slice:0:8"> 
                    <h4> {{ actor.name }} </h4>
                    <p> {{ actor.character }} </p>
                    <img [src]= "getImage3(actor)" style="width: 30vh" alt="" [routerLink]="'/details/' + actor.id">
                </div>
            </div> 
        </div>
          -->
    </section>

    <!-- PELICULAS POPULARES -->
    <!-- <div>
            <h3>Populares</h3>
            <div class="grid">
                <div *ngFor="let pelicula of populares | slice:0:4"> 
                    <p> {{ pelicula.title }} </p>
                    <img [src]= "getImage(pelicula)" style="width: 30vh" alt="" [routerLink]="'/details/' + pelicula.id">
                </div>
            </div>  
        </div>
     -->

    <!-- PELICULAS PREMIERE -->
    <!-- <div>
            <h3>Premiere</h3>
            <div class="grid">
                <div *ngFor="let popular of premieres | slice:0:4"> 
                    <p> {{ popular.title }} </p>
                    <img [src]= "getImage(popular)" style="width: 30vh" alt="" [routerLink]="'/detalles/' + popular.id">
                </div>
            </div>
        </div> -->


</main>