.main-details {
    overflow-y: scroll;
    overflow-x: hidden;
   
}.

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.bt-rent {

    
}


.movie-left {
    
}


.movie-right {
    
}

.movie-box {

    height: 90%;
    
}

.img-box {
    width: 90%;
    height: 90%;
    
}

.movie-img {
    width: 36%;
    height: 100%;
   
}

.movie-info-box {
    width: 60%;
   
}


.info-base {
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-left: 2px;
}

.mv-title {
    font-size: 2.5em;
    font-weight: 800;
}

.mv-id {
    font-size: 0.8em;
    color: white;
}

.mv-votacion {
    font-size: 1.9em;
    color:  rgb(79, 0, 110);
    font-weight: 800;
    margin-right: 5px;
}

.mv-sinopsis {
    font-size: 0.9em;
    letter-spacing: 1px;
    font-weight: 200;
}

.mv-date {
    font-size: 1.3em;
    color: black;
    font-weight: 800;
    margin-right: 5px;
}

.bt-genre {
    border: 1px solid black;
    background-color: transparent;
    font-weight: 200;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    font-size: 0.8em;
    letter-spacing: 2px;
    margin-right: 5px;
}

.rent-box {
    border-top: 2px solid black;
}

[nz-button] {
    margin-right: 8px;
    margin-bottom: 12px;
  }

nz-select {
    width: 30%;
    padding-right: 10px;
    background-color: transparent;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}